
.combosItens{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    gap: 3.5rem;
    margin-left: 11.5%;
}

.combos{
    margin: 3% 0;
}

.title{
    background-color: #4F1212;
    color: white;
    padding: 1%;
    font-size: 6rem;
    margin-bottom: 5%;
    text-align: center;
}


.burguers{
    margin-bottom: 5%;
}

.burguersItens{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    margin-left: 11.5%;
}

.sideDishes{
    margin-bottom: 5%;
}

.sideDishesItens{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    margin-left: 11.5%;
}

@media (max-width: 1366px){
    .combosItens{
        margin-left: 10%;
    }

    .burguersItens{
        margin-left: 10%;
    }

    .sideDishesItens{
        margin-left: 10%;
    }
    
    .main section h2{
        font-size: 5rem;
        padding: 1%;
    }
}