.combosItens{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-left: 5%;
}

.title{
    background-color: #4F1212;
    color: white;
    padding: 1%;
    font-size: 4rem;
    margin-bottom: 3%;
    text-align: center;
}

.burguersItens,
.sideDishesItens {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 2rem;
    margin-left: 5%;
}

@media (min-width: 768px) {
    .combosItens,
    .burguersItens,
    .sideDishesItens {
        grid-template-columns: 1fr 1fr;
        margin-left: 10%;
    }

    .title {
        font-size: 5rem;
        margin-bottom: 4%;
    }
}

@media (min-width: 1024px) {
    .combosItens,
    .burguersItens,
    .sideDishesItens {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 5% auto; /* Deslocamos para o centro vertical e horizontal */
        max-width: 1024px;
    }

    .title {
        font-size: 6rem;
        margin: 5% auto 2% auto; /* Deslocamos para o centro vertical e horizontal, com uma margem menor na parte inferior */
        max-width: 1024px;
    }
}

@media (min-width: 1366px) {
    .combosItens,
    .burguersItens,
    .sideDishesItens {
        margin: 5% auto; /* Deslocamos para o centro vertical e horizontal */
        max-width: 1366px;
    }

    .title {
        font-size: 5rem;
        padding: 1%;
        margin: 5% auto 2% auto; /* Deslocamos para o centro vertical e horizontal, com uma margem menor na parte inferior */
        max-width: 1366px;
    }
}

