@import url('https://fonts.google.com/specimen/Bigshot+One?query=bigshot+one');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Battambang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500&family=Righteous&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgba(129, 8, 8, 1);
    background-repeat: no-repeat;
    background-size: 100%;
}

.txt-hamburgueres {
    color: #FFFF00; /* Código de cor amarela */
}

.container {
    text-align: center;
    font-family: 'Battambang', sans-serif;
}

.titulo1, .titulo2 {
    color: #ffffff;
    font-family: 'Bungee', sans-serif;
    font-size: 6vw; /* Ajustado para tamanho proporcional */
    margin-bottom: 2vw;
    margin-top: 2vw;
    line-height: 1;
}

.titulo3 {
    color: #F4CE07;
    font-family: 'Bungee', sans-serif;
    font-weight: 400;
    font-size: 6vw; /* Ajustado para tamanho proporcional */
    width: 100%;
    height: auto;
    margin-bottom: 2vw;
    margin-top: 2vw;
    line-height: 1;
}

.hamburguer-topo-pagina {
    width: 18vw;
    position: relative;
    padding: 20px;
}

.hamburguer-topo-pagina::before {
    content: "";
    display: block;
    padding-top: calc(2vw / 50 * 100%); /* Calcula a proporção da imagem */
    margin-bottom: -1vw; /* Ajusta a posição vertical da imagem */
}

.hamburguer {
    width: 100%;
    padding-bottom: 100%; /* Mantém proporção quadrada */
    background-color: red; /* Apenas para visualização */
}

.hamburguer-topo-pagina::before {
    content: "";
    display: block;
    padding-top: calc(2vw / 50 * 100%); /* Calcula a proporção da imagem */
}

.hamburguer {
    width: 100%;
    height: 100%;
    background-color: red; /* Apenas para visualização */
}

.hamburguer-topo-pagina::before {
    content: "";
    display: block;
    padding-top: calc(9px / 500 * 100%); /* Calcula a proporção */
}

/* Estilo para o elemento pai */
.container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    height: 100vh; /* Defina a altura desejada para ocupar a tela inteira verticalmente */
}

/* Estilo para os links na navbar (opcional) */
.menu-container a {
    text-decoration: none;
    color: #fff; /* Cor do texto dos links */
    margin-right: 20px; /* Espaço entre os links */
}


.combo1, .combo2, .combo3, .combo4, .combo5, .combo6 {
    font-family: Bigshot One;
    font-size: 2.5vw; /* Tamanho responsivo */
    line-height: 2.6vw;
    text-align: center;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.combos {
    display: flex;
    flex-wrap: wrap; /* Permite que as divs filhas envolvam para a próxima linha quando não houver espaço suficiente */
    justify-content: space-around; /* Espaço entre as imagens */
}

.combos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.combo1, .combo2, .combo3, .combo4, .combo5, .combo6 {
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    text-align: center;
    border-radius: 2vw;
}

.combo1 img,
.combo2 img,
.combo3 img,
.combo4 img,
.combo5 img,
.combo6 img {
    max-width: 90vw;
    height: auto;
    width: 400px; /* Largura específica */
    height: 249px; /* Altura específica */
    border-radius: 2vw;
}

.opcoes-hamburguer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Define o espaçamento entre as opções */
    color: #F4CE07;
}


.grupo-1,
.grupo-2 {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%; /* Assegura que cada grupo de imagens ocupe toda a largura disponível */
    gap: 10px;
}

/* Estilos para todas as imagens dentro das classes .grupo-1 e .grupo-2 */
.grupo-1 .opcao-hamburguer1,
.grupo-1 .opcao-hamburguer2,
.grupo-1 .opcao-hamburguer3,
.grupo-2 .opcao-hamburguer4,
.grupo-2 .opcao-hamburguer5,
.grupo-2 .opcao-hamburguer6 {
    flex-basis: calc(33.33% - 10px); /* Reduz a largura com base nas margens e no espaçamento */
    text-align: center; /* Centraliza o conteúdo horizontalmente */
    color: #F4CE07;
    border-radius: 20px;
    margin: 0 auto; /* Define um espaçamento de margem igual para ambos os lados (direita e esquerda) */
}

.grupo-2 .opcao-hamburguer5 {
    max-width: 100%;
    width: 50%;
    height: 200px;
    border-radius: 20px;
}

/* Estilos comuns para todas as imagens */
.grupo-1 .opcao-hamburguer1 img,
.grupo-1 .opcao-hamburguer2 img,
.grupo-1 .opcao-hamburguer3 img,
.grupo-2 .opcao-hamburguer4 img,
.grupo-2 .opcao-hamburguer5 img,
.grupo-2 .opcao-hamburguer6 img {
    max-width: 100%; /* Garante que as imagens não ultrapassem a largura do contêiner */
    width: calc(100% - 4vw); /* Define a largura com base na margem esquerda e direita */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 2vw;
    margin: 2vw; /* Define uma margem igual para todos os lados */
    padding: 20px;
}

/* Estilos para centralizar o texto nas tags <p> dentro das divs */
.opcoes-hamburguer-container .opcao-hamburguer1 p,
.opcoes-hamburguer-container .opcao-hamburguer2 p,
.opcoes-hamburguer-container .opcao-hamburguer3 p,
.opcoes-hamburguer-container .opcao-hamburguer4 p,
.opcoes-hamburguer-container .opcao-hamburguer5 p,
.opcoes-hamburguer-container .opcao-hamburguer6 p {
    text-align: center; /* Centraliza o texto horizontalmente */
    margin: 0 auto;
    margin-right: auto;
    margin-left: auto;
}

/* Estilos para centralizar o texto nas tags <p> dentro das divs */
.opcoes-hamburguer-container .opcao-hamburguer1 p,
.opcoes-hamburguer-container .opcao-hamburguer2 p,
.opcoes-hamburguer-container .opcao-hamburguer3 p,
.opcoes-hamburguer-container .opcao-hamburguer4 p,
.opcoes-hamburguer-container .opcao-hamburguer5 p,
.opcoes-hamburguer-container .opcao-hamburguer6 p {
    text-align: center; /* Centraliza o texto horizontalmente */
    margin: 0 auto;
    margin-right: auto;
    margin-left: 50px;
}

.opcao-hamburguer1 img,
.opcao-hamburguer2 img,
.opcao-hamburguer3 img,
.opcao-hamburguer4 img,
.opcao-hamburguer5 img,
.opcao-hamburguer6 img {
    max-width: 100%; /* Garante que as imagens não ultrapassem a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

.opcao-hamburguer3 img {
    width: 400px; /* Largura desejada */
    height: 249px; /* Altura desejada */
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 2vw;
    margin: 4vw 0 2vw 20px; /* Define a margem (4vw no topo, 0 na direita, 2vw na parte inferior, 20px na esquerda) */
    padding: 20px;
}

.combos-hamburguer {
    font-family: 'Bungee';
    color: #F4CE07;
    font-size: 6.5vw; /* Tamanho responsivo */
    line-height: 7.8vw;
    padding: 2vw;
    text-decoration: underline;
    text-align: center;
}

h2 {
    font-family: 'Bungee';
    color: #F4CE07;
    font-size: 6.5vw; /* Tamanho responsivo */
    line-height: 7.8vw;
    padding: 2vw;
    text-decoration: underline;
    text-align: center;
}

h4 {
    font-family: 'Bungee';
    color: #F4CE07;
    font-size: 6.5vw; /* Tamanho responsivo */
    line-height: 7.8vw;
    padding: 2vw;
    text-decoration: underline;
    text-align: center;
}

.opcao-acompanhamentos-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: auto; /* Ocupa toda a altura da tela */
    color: #F4CE07;
    margin-left: 40px;
}

/* Estilo para as imagens dentro do .opcao-acompanhamentos-container */
.opcao-acompanhamentos-container img {
    width: 80%; /* Defina a largura desejada (50% para igualar o tamanho) */
    height: auto; /* Altura automática para manter a proporção */
    margin: 0 10px; /* Reduza o espaçamento horizontal entre as imagens */
}


.opcao-acompanhamento1,
.opcao-acompanhamento2,
.opcao-acompanhamento3 {
    margin-bottom: 10px; /* Adicione um espaçamento vertical de 10px entre as imagens */
    padding: 20px;
    margin: 0 auto;
}

.opcao-acompanhamento1 img,
.opcao-acompanhamento2 img,
.opcao-acompanhamento3 img {
    max-width: 100%;
    width: 40vw; /* Aumente a largura para o valor desejado, por exemplo, 600px */
    height: auto; /* Mantenha a proporção original da imagem */
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.opcao-hamburguer1 p,
.opcao-hamburguer2 p,
.opcao-hamburguer3 p,
.opcao-hamburguer4 p,
.opcao-hamburguer5 p,
.opcao-hamburguer6 p {
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}

/* Estilo para o título "HAMBÚRGUERES" */
.opcao-hamburguers {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
/* Estilo para o container de opções de hambúrgueres */
.opcoes-hamburguer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espaçamento entre as opções */
}

.opcao-hamburguer1,
.opcao-hamburguer2,
.opcao-hamburguer3,
.opcao-hamburguer4,
.opcao-hamburguer5,
.opcao-hamburguer6 {
    flex-basis: calc(33.33% - 20px); /* Reduzindo a largura com base nas margens */
    margin: 10px; /* Adicione uma margem entre as opções */
    text-align: center;
    width: 100%;
}  

.hamburguer1, .hamburguer2, .hamburguer3, .hamburguer4, .hamburguer5, .hamburguer6 {
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
}

p {
    font-family: Bigshot One;
    font-size: 2.5vw; /* Tamanho responsivo */
    text-align: center;
}

.box-titulo {
    display: flex;
    align-items: center;
}

.opcao-hamburguer1 h1,
.opcao-hamburguer2 h1,
.opcao-hamburguer3 h1,
.opcao-hamburguer4 h1,
.opcao-hamburguer5 h1,
.opcao-hamburguer6 h1 {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    margin-left: 20px;
    font-family: 'Bigshot One';
}

/* Estilos padrão para PCs */
footer {
    background-color: #4F1212;
    text-align: left;
    padding: 20px; /* Adicione espaçamento interno igual em todos os lados */
    display: flex; /* Use flexbox para ocupar mais espaço horizontalmente */
    justify-content: space-between; /* Distribua os elementos horizontalmente */
    align-items: center; /* Centralize verticalmente os elementos no rodapé */
  }
  
  footer a {
    font-family: 'Baloo Thambi 2', cursive;
    color: #A65020;
    font-size: 32px;
    font-family: 'Baloo Thambi 2', cursive;
    margin: 0 20px; /* Adicione margem horizontal para separar os links */
    text-decoration: none; /* Remova sublinhado dos links */
  }
  
  .logotipo-hot-steak-miniatura {
    width: 100%; /* Faça a imagem ocupar 100% da largura do rodapé */
    max-width: 200px; /* Defina uma largura máxima para a imagem */
    float: right; /* Flutue a imagem para o canto direito do rodapé */
    margin-left: 10px; /* Adicione margem à esquerda para separação entre a imagem e os links */
  }
  
.opcao-hamburguer5 {
    margin-left: 10px;
}

  /* Estilo para o texto das opções */
  .opcao-hamburguer1 p,
  .opcao-hamburguer2 p,
  .opcao-hamburguer3 p,
  .opcao-hamburguer4 p,
  .opcao-hamburguer5 p,
  .opcao-hamburguer6 p {
    text-align: center;
    margin-top: 5px;
  }  

/* Estilo para o texto das opções */
.opcao-acompanhamento1 p,
.opcao-companhamento2 p,
.opcao-acompanhamento3 p {
    text-align: center;
    margin-top: 5px;
    font-size: 17px;
    flex-direction: column;
}  

.opcao-acompanhamento1 p,
.opcao-acompanhamento2 p,
.opcao-acompanhamento3 p {
    font-size: 16px; /* Defina o tamanho de fonte desejado */
}

.opcao-acompanhamento1 img 
.opcao-acompanhamento2 img
.opcao-acompanhamento3 img  {
    width: 30vw;
}
  
.centralizar-texto-acompanhamentos {
    text-align: center;
    top: 50%;
    left: 50%;
}

/* Centralize o texto */
.centralizar-texto-acompanhamentos {
    text-align: center;
}

/* Estilize o título "ACOMPANHAMENTO" */
.opcao-acompanhamentos {
    font-size: 24px; /* Tamanho do texto */
}

/* Container para as opções de acompanhamento */
.container-acompanhamentos {
    display: flex;
    flex-wrap: wrap; /* Permite que as imagens quebrem para a próxima linha quando não houver espaço suficiente */
    justify-content: center; /* Espaço entre as imagens */
    gap: 10px; /* Espaçamento entre as imagens */
}

/* Media Queries */
@media (max-width: 768px) {
    .box-titulo {
        display: flex;
        align-items: center;
    }

    .titulo1, .titulo2, .titulo3, .combo1, .combo2, .combo3, .combo4, .combo5, .combo6, .combos-hamburguer, .opcao-hamburguers {
        font-size: 4vw; /* Ajuste para dispositivos móveis */
    }

    .hamburguer1, .hamburguer2, .hamburguer3, .hamburguer4, .hamburguer5, .hamburguer6, .opcao-hamburguer01, .opcao-hamburguer02, .opcao-hamburguer03 {
        width: 70%; /* Ajuste para dispositivos móveis */
        height: auto;
        border-radius: 2vw;
    }

    .opcao-hamburguer p {
        font-size: 14px;
    }   

    .opcao-acompanhamento1 img,
    .opcao-acompanhamento2 img,
    .opcao-acompanhamento3 img {
        width: 100%; /* Largura 100% para dispositivos móveis */
        max-width: none; /* Remover a largura máxima */
        height: auto; /* Altura automática para manter a proporção */
        display: column; /* Certifique-se de que cada imagem seja exibida em uma linha */
        margin-bottom: 10px; /* Adicionar espaço entre as imagens */
    }

        /* Estilo para o texto das opções */
    .opcao-hamburguer1 p,
    .opcao-hamburguer2 p,
    .opcao-hamburguer3 p,
    .opcao-hamburguer4 p,
    .opcao-hamburguer5 p,
    .opcao-hamburguer6 p {
        text-align: center;
        margin-top: 5px;
    } 

    footer {
        flex-direction: column; /* Coloque os elementos em coluna */
        text-align: center; /* Centralize o texto */
        padding: 5px; /* Reduza ainda mais o espaçamento interno */
    }
  
    footer a {
        font-size: 24px; /* Reduza o tamanho da fonte dos links */
        margin: 5px 0; /* Adicione um pequeno espaço vertical entre os links */
    }
  
    .logotipo-hot-steak-miniatura {
        float: none; /* Remova a flutuação */
        margin: 10px auto; /* Centralize a imagem horizontalmente com margem superior e inferior */
        max-width: 150px; /* Reduza o tamanho máximo da imagem */
    }
}