@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bowlby+One+SC&family=Inter:wght@400;500&family=Staatliches&display=swap');

.design-tela-opcao-pix-pagamento {
    margin: 0;
    padding: 0;
    padding-top: 02vh;
    background-color: #4F1212;
    width: 100%; /* Largura ocupando 100% da largura da tela */
    height: 100vh; /* Altura de 100% da tela */
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt-inserir-pix {
    font: 400 2.5rem "Staatliches", sans-serif;
    color: #C81B1B;
}

.btn-avancar {
    background-color: red;
    color: white;
    font-family:  Staatliches;
    border: none;
    padding: 10px 16px; /* Ajustei o padding para manter o tamanho dos botões iguais */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.section-opcao-pix {
    text-align: center; /* Centraliza o conteúdo horizontalmente */
    border: solid 1px rgba(0, 0, 0, 0.253);
    padding: 2rem;
    background-color: #ffff;
    border-radius: 1.5rem;
    width: 30rem;
}

/* Estilos padrão */
.red-input-filled {
    width: 80%;
    max-width: 300px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(206, 199, 199);
    margin-top: 2rem;
}

.btn-avancar{
    width: 40%;
}

/* Adicionando media queries para tamanhos de tela menores */
@media only screen and (max-width: 768px) {
    .section-opcao-pix {
        margin-top: 140px; /* Ajuste conforme necessário para telas menores */
        width: 300px;
    }

    .red-input-filled {
        width: 100%; /* Ajuste a largura conforme necessário para telas menores */
    }
}