@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bowlby+One+SC&family=Inter:wght@400;500&family=Staatliches&display=swap');

.design-tela-opcao-dinheiro {
    margin: 0;
    background-color: #4F1212;
    width: 100%; /* Largura ocupando 100% da largura da tela */
    height: 100vh; /* Altura de 100% da tela */
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt-quantia-dinheiro {
    font: 400 2.5rem "Staatliches", sans-serif;
    color: #C81B1B;
}

.section-opcao-dinheiro {
    text-align: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.068); 
    padding: 1.3rem;
    width: 30rem;
    border-radius: 1.3rem;
}

.red-input-filled{
    width: 80%;
}

.btn-avancar{
    width: 40%;
}

/* Adicionando media queries para tamanhos de tela menores */
@media only screen and (max-width: 768px) {
    .section-opcao-dinheiro {
        width: 300px;
        margin-top: 80px; /* Ajuste conforme necessário para telas menores */
    }
}
