@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bowlby+One+SC&family=Inter:wght@400;500&family=Staatliches&display=swap');

.design-tela-opcao-cartao-debito-credito {
    margin: 0;
    padding: 0;
    background-color: #4F1212;
    width: 100%; /* Largura ocupando 100% da largura da tela */
    height: 100vh; /* Altura de 100% da tela */
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-opcao-cartao{
    border: solid 1px rgba(0, 0, 0, 0.233);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.3rem;
    background-color: #fff;
    font: 500 1.3rem 'Staatliches', sans-serif;
    width: 30rem;
}

.section-opcao-cartao h1{
    font: 400 2.5rem "Staatliches", sans-serif;
    color: #C81B1B;
}

.red-input-filled{
    width: 80%;
}

.btn-avancar{
    width: 40%;
}