@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bowlby+One+SC&family=Inter:wght@400;500&family=Staatliches&display=swap');

body {
    background-color: #ffffff;
    background-size: 100%;
}

.section-pedido1, .section-pedido2, .section-pedido3, .section-pedido4, .section-pedido5, .section-pedido6, .section-pedido7, .section-pedido8, .section-pedido9 {
    background-color: #4F1212;
    width: 500px;
}

.pedidos {
    font-family: "Staatliches";
    color: #FFFFFF;
    font-size: 30px;
}

.img-pedido1, .img-pedido2, .img-pedido3, .img-pedido4, .img-pedido5, .img-pedido6, .img-pedido7, .img-pedido8, .img-pedido9 {
    width: 100%; /* Alterado para largura total */
    height: auto;
    margin-top: 30px;
}

.txt-comandas {
  font: 500 3rem "Staatliches", sans-serif;
  color: #4F1212;
  text-align: center;
  margin: 2rem;
}

.link-no-underline {
  text-decoration: none;
}
  
/* Estilos para a container principal */
.pedidos-container {
    display: flex;
    align-items: center;
    justify-content: space-around; /* ou space-between para ajustar o espaçamento entre os grupos */
  }

  .pedidos-container section{
    width: 25rem;
    margin: 1rem;
  }

  .pedidos-container section p{
    text-align: center;
  }
  
/* Estilos para cada grupo */
.grupo-1,
.grupo-2,
.grupo-3 {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha em telas pequenas */
  justify-content: space-around; /* ou space-between para ajustar o espaçamento entre os itens */
  width: 100%; /* Garante que cada grupo ocupe 100% da largura disponível */
}
  
  /* Ajuste opcional para tornar as sections responsivas */
  @media screen and (max-width: 768px) {
    section {
      width: 100%; /* Em telas menores, as sections ocupam 100% da largura */
    }
  }
  
  
