@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bowlby+One+SC&family=Inter:wght@400;500&family=Staatliches&display=swap');

/* Estilos padrão */
.design-tela-rastreio {
    margin: 0;
    padding: 02px;
    background-color: #4F1212;
    width: 100%; /* Largura ocupando 100% da largura da tela */
    height: 100vh; /* Altura de 100% da tela */
}

.txt-acompanhe-seu-pedido {
    font-family: "Staatliches";
    color: #C81B1B;
    text-align: left;
}

.txt-pedido-aceito, .txt-pedido-pronto-entrega, .txt-pedido-indo  {
    font-family: "Staatliches";
    text-align: left;
    font-size: 30px;
}

.txt-horario-pedido-gerado, .txt-horario-pedido-pronto-entrega, .txt-horario-pedido-indo {
    font-family: "Roboto";
    color: rgba(0, 0, 0, 0.38);
    text-align: left;
    font-size: 35px;
}

.section-rastreio-pedido {
    margin-top: 140px; /* Ajuste conforme necessário para o espaçamento superior */
    margin-bottom: 20px; /* Ajuste conforme necessário para o espaçamento inferior */
    text-align: center; /* Centraliza o conteúdo horizontalmente */
}

/* Adicionando media queries para tamanhos de tela menores */
@media only screen and (max-width: 768px) {
    .section-rastreio-pedido {
        width: 300px;
        margin-top: 80px; /* Ajuste conforme necessário para telas menores */
    }

    .txt-pedido-aceito, .txt-pedido-pronto-entrega, .txt-pedido-indo  {
        font-size: 24px; /* Ajuste o tamanho da fonte para telas menores */
    }

    .txt-horario-pedido-gerado, .txt-horario-pedido-pronto-entrega, .txt-horario-pedido-indo {
        font-size: 28px; /* Ajuste o tamanho da fonte para telas menores */
    }
}
