.design-tela-recuperacao-senha {
    margin: 0;
    padding: 0;
    background-color: #4F1212;
    width: 200vh;
    height: 100vh; /* Adiciona altura de 100% da tela */
}

.logotipo-hotsteak {
    padding: 40px;
    margin: 0;
    text-align: center;
}

.logotipo-hotsteak-tela-confirmar-senha {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh; /* Isso garante que a div ocupe toda a altura da tela */
}

.logotipo-hotsteak img {
    width: 403px;
    height: 57px;
    height: auto;
    margin-right: 20px;
}

.titulo-recuperacao-senha {
    font-family: 'Staatliches';
    color: #C81B1B;
}

.txt-inserir-dados {
    font-family: 'Staatliches';
    color: #C81B1B;
    font-size: 20px;
}

.avancar-button {
    padding: 10px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.aviso-campo-obrigatorio {
    font-family: 'Abel';
}

.voltar-button {
    font-family: Staatliches;
    background-color: #EEEEEE;
    color: red;
    border: none;
    margin-right: 20px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);
}

.avancar-button {
    font-family: Staatliches;
    background-color: red;
    color: white;
    border: none;
    margin-left: 20px;
}

/* Media query para dispositivos com largura de até 600 pixels (exemplo) */
@media (max-width: 600px) {
    .design-tela-recuperacao-senha {
        width: 100%;
        height: 100vh;
    }

    .logotipo-hotsteak {
        padding: 15px;
        width: 90%;
    }

    .logotipo-hotsteak img {
        width: 60%; /* Reduz o tamanho da logo para 80% da largura da tela */
        margin-left: 20px;
        margin-top: 60px;
    }

    .placeholder-small {
        width: 90%;
    }   

    h1 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    .voltar-button,
    .avancar-button {
        padding: 8px 12px;
        margin-right: 10px;
        margin-left: 10px;
    }
}