@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bowlby+One+SC&family=Inter:wght@400;500&family=Staatliches&display=swap');

/* Estilos padrão */
.design-tela-rastreio {
    margin: 0;
    background-color: #4F1212;
    width: 100%; /* Largura ocupando 100% da largura da tela */
    height: 100vh; /* Altura de 100% da tela */
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt-acompanhe-seu-pedido {
    font: 500 4rem "Staatliches", sans-serif;
}

.txt-pedido-aceito, .txt-pedido-pronto-entrega, .txt-pedido-indo  {
    font-family: "Staatliches";
    text-align: left;
    font-size: 30px;
}

.txt-horario-pedido-gerado, .txt-horario-pedido-pronto-entrega, .txt-horario-pedido-indo {
    font-family: "Roboto";
    color: rgba(0, 0, 0, 0.38);
    text-align: left;
    font-size: 1.7rem;
}

.section-rastreio-pedido {
    text-align: center; /* Centraliza o conteúdo horizontalmente */
    border: solid 1px rgba(0, 0, 0, 0.137);
    border-radius: 1.5rem;
    padding: 2rem;
    background-color: white;
}

.btn-tela-inicial {
    max-width: 90px;
    background-color: red;
    font-family: 'Staatliches';
    color: white;
    border: none;
    border-radius: 10px;
    width: 90px;
    font-size: 1.5rem;
}

/* Adicionando media queries para tamanhos de tela menores */
@media only screen and (max-width: 768px) {
    .section-rastreio-pedido {
        width: 300px;
        margin-top: 80px; /* Ajuste conforme necessário para telas menores */
    }

    .txt-pedido-aceito, .txt-pedido-pronto-entrega, .txt-pedido-indo  {
        font-size: 24px; /* Ajuste o tamanho da fonte para telas menores */
    }

    .txt-horario-pedido-gerado, .txt-horario-pedido-pronto-entrega, .txt-horario-pedido-indo {
        font-size: 28px; /* Ajuste o tamanho da fonte para telas menores */
    }
    .btn-tela-inicial {
        background-color: red;
        font-family: 'Staatliches';
        color: white;
        border: none;
        border-radius: 10px;
        width: 90px;
        font-size: 1.5rem;
    }
}
