body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgba(129, 8, 8, 1);
  background-repeat: no-repeat;
  background-size: 100%;
}

.txt-login {
    text-align: center;
    color: #C81B1B;
    font-family: Arial;
    font-size: 22px;
}

.tf-email, .tf-senha {
    font-family: Arial;
    color: #C81B1B;
    text-align: center;
}

/* CSS */
.container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Define a altura da tela inteira */
  }
  
  form {
    text-align: center; /* Centraliza o conteúdo do formulário horizontalmente */
  }

/* Estilos para o campo de texto preenchido */
.red-input-filled {
  width: 50%;
  padding: 10px;
  border: none; /* Remova a borda padrão */
  border-bottom: 2px solid red; /* Adicione uma borda inferior vermelha */
  border-radius: 0; /* Remova a borda arredondada se não for necessário */
  outline: none;
  color: #C81B1B;
}

/* Estilos para o texto dentro do campo preenchido */
.red-input-filled::placeholder {
  color: red; /* Cor do texto de placeholder */
}

/* Estilos para o campo quando estiver focado (hover) */
.red-input-filled:focus {
  border-color: darkred; /* Cor da borda inferior quando o campo está focado */
}


  
  /* Estilos adicionais para os elementos do formulário */
  .tf-email, .tf-senha, .btn-entrar {
    display: block; /* Define os rótulos e campos de entrada como elementos de bloco */
    margin-bottom: 10px; /* Espaço entre os elementos */
  }
  
.btn-entrar {
    background-color: #C81B1B;
    width: 120px;
    height: 36px;
    border-radius: 20px;
    font-family: Arial;
    color: white;
    margin-top: -780px;
}

.logo-hot-steak {
    width: 50%;
    height: auto;
}

.logotipo-hot-steak {
  text-align: center;
  margin-top: 20px; /* Ajuste a quantidade de margem superior desejada */
}

.login-container {
  background-color: #ffffff;
  padding: 20px;
  width: 477px; /* Ajuste a largura conforme necessário */
  height: auto;
  margin: 20px auto; /* Adicione margem superior para deslocar o container para baixo */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5); /* Sombra vermelha */
  text-align: center;
}

h2 {
  color: red; /* Cor vermelha para o título */
}

.input-container {
  margin: 15px 0;
}

.filled-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid red; /* Linha vermelha na parte inferior */
  outline: none;
}

.login-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Efeito de transição suave */
  margin-top: 20px; /* Adicione margem superior para deslocar o botão para baixo */
}

.login-button:hover {
  background-color: darkred; /* Cor de destaque quando o botão é hover */
}

.logo-container {
  text-align: center; /* Centralize a logo horizontalmente */
  padding: 20px 0; /* Adicione espaço superior e inferior */
}

.logo-container img {
  width: 403px;
  height: 57px;
  height: auto; /* Mantenha a proporção original da imagem */
}


.login-container {
  background-color: white;
  padding: 20px;
  width: 300px; /* Ajuste a largura conforme necessário */
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5); /* Sombra vermelha */
  text-align: center;
  margin-top: 60px; /* Ajuste o valor conforme necessário */
}

.links {
  text-align: center; /* Centraliza o conteúdo horizontalmente */
}

.links a {
  display: block; /* Faz com que cada link ocupe a largura total da div pai */
  margin: 10px 0; /* Adiciona espaçamento vertical entre os links */
  text-decoration: none;
  color: #662424;
}

.form-email {
  margin-bottom: 10px; /* Adicione uma margem inferior de 10px para separar os campos */
}

.form-control {
  margin-bottom: 10px; /* Adicione uma margem inferior de 10px para separar os campos */
}

/* Estilos para telas com largura máxima de 768px */
@media (max-width: 768px) {
  .login-container {
    width: 80%; /* Reduz a largura do container para 80% da largura da tela */
  }

  .logo-container img {
    width: 80%; /* Reduz o tamanho da logo para 80% da largura da tela */
  }

  .btn-entrar {
    width: 100%; /* Define a largura do botão para 100% da largura da tela */
    margin-top: 20px; /* Adicione margem superior para espaçamento do botão */
  }

  .links a {
    margin: 10px auto; /* Centralize os links horizontalmente e adicione espaçamento vertical */
  }
  
  .form-email,
  .form-control {
    margin-bottom: 20px; /* Aumente a margem inferior entre os campos de entrada */
  }

  .login-button {
    margin-top: 20px; /* Adicione margem superior para espaçamento do botão */
  }
}
