/* Estilo base para o menu-container */
.menu-container {
    background: #411700;
    display: flex;
    justify-content: flex-end; /* Alinhe os elementos à direita */
    align-items: center; /* Alinhar verticalmente os elementos no centro */
}

/* Estilo para a versão web dos links */
.menu-container a {
    padding: 10px; /* Reduza o espaçamento horizontal e vertical conforme necessário */
    font-family: Bigshot One;
    text-decoration: none;
    height: 74px; /* Defina a altura desejada, que corresponde à altura das imagens */
    display: flex; /* Para alinhar o texto verticalmente */
    align-items: center; /* Alinhar o texto verticalmente no centro */
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .menu-container {
        justify-content: center; /* Alinhe os elementos à esquerda em dispositivos móveis */
    }
    
    .menu-container a {
        padding: 5px; /* Reduza o espaçamento horizontal e vertical em dispositivos móveis */
    }
}
